html, body {
    margin: 0;
    padding: 0;
}

#container {
    font-family: 'Segoe UI';
    /* height: 1000px; */
    font-size: 12px;
    box-sizing: border-box;
}

/*
    Resource Planner Styling
*/

.resource-planner div {
    display: flex;
    box-sizing: border-box;
}

.resource-planner {
    display: flex;
    flex-direction: column;
    margin: 32px;
    box-sizing: border-box;
    /* min-width: 800px; */
    /* max-height: calc(100vh - 100px); */
    /* max-height: 600px; */
    border: 1px solid hsl(220, 15%, 93%);
    overflow-y: hidden;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.03); */
}

.timeline-container {
    display: flex;
    flex-direction: row;
    height: 64px;
    min-height: 64px;
    background: white;
    border-bottom: 1px solid hsl(220, 15%, 93%);
    color: hsl(220, 10%, 50%);
    z-index: 2;
}
.corner,
.resources {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.corner {
    border-right: 1px solid hsl(220, 15%, 93%);
}

.timeline {
    flex-grow: 1;
    flex-direction: column;
}

.month {
    height: 50%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid hsl(220, 15%, 93%);
    border-right: 1px solid hsl(220, 15%, 93%);
}

.day-container {
    height: 50%;
}

.day {
    height: 100%;
    align-items: center;
    justify-content: center;
    border-right: 1px solid hsl(220, 15%, 93%);
}

.scrollbar-filler {
    min-width: 17px;
    max-width: 17px;
    width: 17px;
}

/* Height is (100% - .timeline-container:height) */
.scroll-container {
    /* height: calc(500px - 50px); */
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
}

.resources {
    flex-direction: column;
    border-right: 1px solid hsl(220, 15%, 93%);
    color: hsl(220, 25%, 40%);
}

.grid {
    flex-grow: 1;
    flex-direction: column;
}

.row {
    min-height: 32px;
    height: 32px;
    max-height: 32px;
    padding: .5rem 1rem;
    width: 100%;
    border-bottom: 1px solid hsl(220, 35%, 96%);
    background: white;
    align-items: center;
}

.resources .row:nth-child(odd) {
    background: #fbfcfd;
}

.grid .row:nth-child(even) {
    background: #fbfcfd;
}

.content {
    position: relative;
    width: 100%;
    /* height: 100%; */
}

.item {
    position: absolute;
    /* height: 32px; */
    align-items: center;
    justify-content: start;
    color: white;
    top: 0px;
    cursor: pointer;
    user-select: none;
}

.item-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 4px);
    margin: 4px 2px;
    padding-left: 6px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.row-items {
    position: absolute;
}

.item:hover {
    opacity: .9;
    z-index: 10;
}

.highlight {
    background: hsl(220, 25%, 95%) !important;
    color: black;
}